absl-py==2.1.0
annotated-types==0.6.0
anyio==4.3.0
asgiref==3.5.2
asttokens==2.0.5
astunparse==1.6.3
backcall==0.2.0
backports.zoneinfo==0.2.1
build==0.10.0
CacheControl==0.13.1
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
cleo==2.0.1
colorama==0.4.6
comm==0.2.1
crashtest==0.4.1
debugpy==1.6.7
decorator==5.1.1
distlib==0.3.7
Django==4.0.5
dulwich==0.21.6
exceptiongroup==1.2.0
executing==0.8.3
fastapi==0.110.0
filelock==3.12.4
flatbuffers==25.2.10
gast==0.4.0
google-auth==2.38.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.70.0
h5py==3.11.0
idna==3.10
importlib-metadata==6.8.0
importlib-resources==6.1.0
installer==0.7.0
ipykernel==6.29.5
ipython==8.12.2
jaraco.classes==3.3.0
jedi==0.19.1
joblib==1.1.1
jsonschema==4.17.3
jupyter_client==8.6.0
jupyter_core==5.7.2
keras==2.10.0
Keras-Preprocessing==1.1.2
keyring==24.2.0
libclang==18.1.1
Markdown==3.7
MarkupSafe==2.1.5
matplotlib-inline==0.1.6
nest-asyncio==1.6.0
numpy==1.24.3
oauthlib==3.2.2
opt_einsum==3.4.0
packaging==24.1
pandas==1.1.5
parso==0.8.3
pickleshare==0.7.5
pip==24.2
pkginfo==1.9.6
pkgutil_resolve_name==1.3.10
platformdirs==3.10.0
poetry==1.6.1
poetry-core==1.7.0
poetry-plugin-export==1.5.0
prompt-toolkit==3.0.43
protobuf==3.19.6
psutil==5.9.0
pure-eval==0.2.2
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.6.4
pydantic_core==2.16.3
Pygments==2.15.1
pyproject_hooks==1.0.0
python-dateutil==2.9.0.post0
pytz==2025.1
pywin32==305.1
pyzmq==25.1.2
rapidfuzz==2.15.1
requests==2.31.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rsa==4.9
scikit-learn==0.24.2
scipy==1.10.1
setuptools==75.1.0
shellingham==1.5.3
six==1.16.0
stack-data==0.2.0
starlette==0.36.3
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.1
tensorflow-addons==0.21.0
tensorflow-estimator==2.10.0
tensorflow-hub==0.16.1
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-text==2.10.0
termcolor==2.4.0
tf-keras==2.15.0
threadpoolctl==3.5.0
tomlkit==0.12.1
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
trove-classifiers==2023.9.19
typeguard==2.13.3
typing_extensions==4.5.0
urllib3==2.2.3
virtualenv==20.24.5
wcwidth==0.2.5
Werkzeug==3.0.6
wheel==0.44.0
wrapt==1.17.2
zipp==3.20.2
